name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install uglify-js
        run: npm install -g uglify-js
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
